* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    color: #161A49;
    font-size: 62px;
    font-style: normal;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 0.596px;
    width: 582px;

}

img {
    width: 533.834px;
    height: 466.9px;

}

p {
    display: inline-flex;
    padding: 9px 32px 77px 8px;
    align-items: center;
    color: #4B505A;
    width: 493px;
    margin-top: 47px;
    margin-bottom: 55px;
}


header {
    margin-top: 47px;
    margin-left: 42px;
}

.link-menu {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.875px;
    color: #17233d;
    margin-right: 32px;
}

.button-sign {
    border-radius: 6px;
    border: 1px solid #4CB538;
    background: #6FBF44;
    width: 124px;
    height: 51px;
    cursor: pointer;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
}

img {
    margin: 163px 0 0 123px;
    display: inline-block;
}

div {
    display: inline-block;
    margin-left: 85px;
    width: 493px;
}

h1 {
    color: #161A49;
    font-size: 62px;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 0.596px;
}

p {
    color: #4B505A;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.5px;
}

.button-learn {
    color: #6FBF44;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 1px;
    cursor: pointer;
    background: transparent;
    border: none;
}

@media (max-width: 390px) {
    img {
        max-width: 100%;
        height: auto;
        margin-top: 50px;
    }

    body {
        margin: 0;
        padding: 0 20px;
        width: 100%;
        text-align: center;
    }

    h1 {
        width: auto;
        margin-top: 30px;
        padding: 0;
        font-size: 28px;
        line-height: 1.2;
    }

    .button-sign {
        display: block;
        margin: 0 auto;
        width: auto;
    }

    .button-learn {
        display: block;
        margin: 40px auto 0;

    }

    .link-menu {
        display: none
    }

    p {
        line-height: 24px;
        font-size: 18px;
        margin-top: 20px;
        padding: 0 10px;
        text-align: center;
    }

}